<div class="container">
  <h1>Política de Privacidad</h1>
  <p><a href="http://tedic.org">TEDIC</a> es una ONG, domiciliada en la ciudad de Asunción – Paraguay. Su forma de contacto es <a href="mailto://hola@tedic.org">hola@tedic.org</a>. Para
    nosotras
    la privacidad de tu información es un asunto importante, te aseguramos que los datos personales que nos proporcionas
    serán tratados solo para el cumplimiento de la finalidad de la plataforma <a href="/">Data.Cuenta</a>.</p>
  <p>La información de la encuesta es anónima. Es decir, no almacenamos información de carácter personal como son nombre,
    apellido, correo electrónico y cualquier otro tipo de información que identifique a una persona dentro de la encuesta
    de
    la plataforma <a href="/">Data.Cuenta</a>.</p>
  <p>Para fines estadísticos solo recogemos direcciones IP (una dirección de Protocolo de Internet, o dirección IP, es un
    número identificador único de cada ordenador o dispositivo de red en Internet). Utilizamos su dirección IP para
    determinar si accede a nuestros servicios desde dentro o desde fuera de la República de Paraguay.</p>
  <p>Para evitar el completado automático y abuso de la plataforma se utiliza la tecnología <a href="https://www.google.com/recaptcha/intro/v3.html">reCAPTCHA</a> de Google que tiene
    sus
    propios <a href="https://policies.google.com/terms?hl=es-419">Términos y Condiciones</a> y <a href="https://policies.google.com/privacy?hl=es-419">Política de Privacidad</a>.</p>
</div>