.navbar {
  margin-bottom: 0px;
}

.navbar-static-top {
  z-index: 2000;
}

.navbar-top {
  background: white;
  box-shadow: 0px -3px 11px #000;
  border: none;
  width: 100%;

  .navbtn-danger {
    background: @brand-danger;
    & > a:hover {
      background: lighten(@brand-danger, 5%);
    }
    & > a:focus, & > a:active {
      background: darken(@brand-danger, 5%);
    }
  }

  .navbtn-warning {
    background: @brand-warning;
    & > a:hover {
      background: lighten(@brand-warning, 5%);
    }
    & > a:focus, & > a:active {
      background: darken(@brand-warning, 5%);
    }
  }

  .navbtn-info {
    background: @brand-info;
    & > a:hover {
      background: lighten(@brand-info, 5%);
    }
    & > a:focus, & > a:active {
      background: darken(@brand-info, 5%);
    }
  }

  .navbtn-primary {
    background: @brand-primary;
    & > a:hover {
      background: lighten(@brand-primary, 5%);
    }
    & > a:focus, & > a:active {
      background: darken(@brand-primary, 5%);
    }
  }

  .navbar-header {
    @media screen and (max-width: 768px) {
      float: left !important;
    }

    .navbar-brand {
      padding: 10px;
      height: auto;
      background: transparent;
  
      img.icon {
        display: inline;
        margin-right: 10px;
        height: 15px;
      }

      img.icon-logo-isotipo {
        height: 40px;
      }
  
      img.icon-logo-text {
        height: 20px;
      }
    }
  }


  .navbar-nav {
    float: right;
    margin: 0px -15px 0px 0px;

    li {
      @media screen and (max-width: 768px) {
        float: left;
      }

      a {
        height: 60px;
        padding: 10px;

        span {
          color: white;
          font-size: 40px;
        }
      }
    }

    img.icon-bars {
      display: inline;
      margin-right: 10px;
      height: 18px;
    }

    img.icon-tedic {
      width: auto;
      height: 40px;
    }
  }


  .navbar-header, .navbar-nav {
    clear: unset;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
}