.resultado {
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }

  .switch-mode {
    margin-bottom: 20px;
    min-height: 34px;
  }

  .btn-group {
    .btn {
      border-radius: 10px;
      font-weight: bold;
      padding: 5px 15px;
      box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 1);
      cursor: pointer;
    }

    .btn-sabias-que {
      background-color: @brand-danger;
      border: 1px solid @brand-danger;
      color: white;
      font-size: 2em;
      margin: 30px 0px;
      outline: none;

      img.icon-star {
        position: absolute;
        top: -23px;
        left: 75px;
        width: 40px;
      }

      img.message-tail-danger {
        position: absolute;
        right: 3px;
        bottom: -10px;
        height: 10px;
      }
    }
  }

  .bg-sabias-que {
    background: url('/assets/images/bg-3.svg') no-repeat;
    background-size: 100% auto;
    background-position: 50% 20px;
    margin: -30px -15px 0px -15px;
    padding: 50px 15px 0px 15px;
    height: 190px;
  }
  
  @media screen and (max-width: 500px) {
    .bg-sabias-que {
      margin: -20px 0px 0px 0px;
      padding: 10px 15px 0px 15px;
      height: 100px;
    }
  }
  @media screen and (min-width: 500px) {
    .bg-sabias-que {
      background-size: 100% auto;
      background-position: 50% 20px;
      margin: 0px 0px -130px 0px;
      padding: 50px 16px 0px 15px;
      height: 320px;
    }
  }

  // md
  @media screen and (min-width: @screen-md-min) {}

  // lg
  @media screen and (min-width: @screen-lg-min) {}
}