<p>
    <b>“SOS MUJER” línea 137</b><br>
    Ministerio de la Mujer<br>
    (021) 45 20 60 | atencion@mujer.gov.py
</p>

<p>
    <b>147 Fono Ayuda</b><br>
    Secretaría de la Niñez y Adolescencia<br>
    Para denuncias de hechos punibles de criadazgo o trabajo infantil
</p>
