<p><b>Acoso:</b> Actos repetidos y no solicitados contra una persona u organización que son percibidos como intrusivos o amenazadores.</p>
<p><u>Ciberbullying, cibercacoso, ciberagresión:</u> Es el uso de medios de comunicación digitales para acosar a una persona o grupo de personas, mediante ataques personales, divulgación de información confidencial o falsa. Es decir, todo aquello que se realice a través de los dispositivos electrónicos de comunicación con el fin intencionado de dañar o agredir a una persona o a un grupo. </p>
<p><u>Acoso sexual:</u> Envío y recepción de material sexual no solicitado</p>
<p><u>Extorsión:</u> Forzar a una persona a actuar de acuerdo a la voluntad de otra persona, a través de amenazas e intimidación. Puede ser económica o de otra índole.</p>
<p><u>Mobbing o acoso laboral:</u> Esta persona o grupo de personas reciben una violencia psicológica injustificada a través de actos negativos y hostiles dentro o fuera del trabajo por parte de grupos sociales externos, de sus compañeros ("acoso horizontal", entre iguales), de sus subalternos (en sentido vertical ascendente) o de sus superiores (en sentido vertical descendente, también llamado bossing, del inglés boss, jefe).</p>
<p><u>Ataques coordinados:</u> Son aquellos ataques que se realizan de manera coordinada y por más de una persona hacia otra, una publicación específica o una página en las redes. Los fines de estos ataques pueden ser varios: difusión de datos personales para causar hostigamiento y acoso, o incluso lograr la eliminación de los perfiles de las víctimas. Suelen crearse identidades falsas para así poder esparcir publicaciones y noticias falsas.</p>
<p><u>Generación de información falsa (Creación de perfiles, manipulación de imágenes, videos u otra información):</u> se suele utilizar para ciberacoso o ataques coordinados</p>
<p><u>Diseminación de información privada:</u> es un medio que termina en ciberacoso, mobying, o ataques coordinados</p>
<br>
<p><b>Discurso de odio:</b> Discurso que refleja modelos culturales que incitan violencia, ya sea a través de comentarios, insultos, o agresiones verbales.</p>
<p><u>Amenazas:</u> Discurso y contenido (verbal o escrito, en imágenes, etc) con un tono agresivo y/o amenazador. Amenazas directas de violencia de cualquier índole.</p>
<p><u>Robo de identidad:</u> es un medio para la extorsión o el ciberbullying </p>
<br>
<p><b>Vigilancia:</b> El monitoreo constante de las actividades de la persona, su vida diaria, o información, sea pública o privada, pertinente a la persona o a la organización.</p>
<p><u>Acceso y control, manejo no autorizado de cuentaso dispositivos:</u> Ataques no autorizados para ganar acceso a las cuentas o dispositivos de otros. Esto puede implicar que información no autorizada se junte, y/o el bloqueo de acceso a la cuenta a la persona dueña de la cuenta misma. </p>
<p><u>Doxeo:</u> Investigar y difundir información identificable sobre una persona sin su consentimiento, muchas veces con la intención de tener acceso o contacto con la persona con fines de acoso u otros fines nocivos. </p>
<p><u>Uso de spyware:</u> Software para espiar y obtener información de otros dispositivos o acceso a cuentas sin el consentimiento del usuario. </p>