<p>
    <b>TEDIC</b><br>
    Apoyo capacitación sobre derechos digitales<br>
    <a href="https://www.tedic.org">https://www.tedic.org</a><br>
    hola@tedic.org | +595 976 572025
</p>

<p>
    <b>Consultorio Jurídico Feminista</b><br>
    Apoyo y asesoramiento jurídico<br>
    <a href="https://www.facebook.com/CJFparaguay/">https://www.facebook.com/CJFparaguay/</a><br>
    consultoriojuridicofeminista@gmail.com
</p>

<p>
    <b>Aireana - Rohendu</b><br>
    Línea de apoyo y contención<br>
    <a href="https://www.aireana.org.py/tomando-fuerza/ro-hendu/">https://www.aireana.org.py/tomando-fuerza/ro-hendu/</a><br>
    0981 110 108 - 0800 110 108
</p>

<p>
    <b>Asociación Panambí - Casa Diversa</b><br>
    Panambi Asesoramiento y acompañamiento.<br>
    Casa diversa Asesoramiento albergue transitorio<br>
    (021) 446 710 | info@panambi.org.py
</p>

<p>
    <b>Católicas por el Derecho a Decidir</b><br>
    Contención y apoyo jurídico<br>
    cddparaguay@gmail.com | Dina Cabañas - +595 981 992138 | Lourdes Rocío Cabañas - +595 971 121843 | Marina León - +595 981 516385
</p>

<p>
    <b>Red Feminista de Salud Mental de Paraguay</b><br>
    No brinda asesoramiento como red, sin embargo sus integrantes ofrecen acompañamiento a nivel personal<br>
    Montserrat Vera - +595 981 234302 | Silvia Navarro - +595 981 528141 | Paola Kolher - +595 994 764037
</p>

<p>
    <b>It Gets Better Paraguay</b><br>
    Contención psicológica online y personal - Asesoramiento legal con enfoque anti discriminación<br>
    <a href="https://www.facebook.com/ItGetsBetterPy/">https://www.facebook.com/ItGetsBetterPy/</a>
</p>